
.calculator {
    margin-bottom: 1rem;
    padding: 1rem;
    border: .3rem solid var(--primary-dark);
    border-radius: 1rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calculations > :first-child {
    margin-top: 0;
}
