
.input-wrapper {
    border: 1px solid var(--primary-light);
    border-radius: .3rem;
    padding: .3rem .6rem;
}

.input-wrapper:focus-within {
    border-color: var(--secondary);
}

.input {
    background-color: transparent;
    color: var(--secondary-light);
    
    border: 0;
}

.input:focus-visible {
    outline: 0;
}

/*  
.input {

    width: auto;
}

.input:focus {
    border: 1px solid var(--secondary);
}
*/
